@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
    @apply h-full font-mono;
    touch-action: manipulation;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    src: url("/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    src: url("/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    src: url("/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    src: url("/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mt-6 font-mono uppercase;
}

h1 {
    @apply text-4xl md:text-5xl;
}

h2 {
    @apply text-3xl md:text-4xl;
}

.main {
    @apply mx-auto flex max-w-screen-lg flex-col gap-y-4 px-6 py-6 sm:px-12;
}
